@media (max-width:  1200px){

    #logo{
        width: 100px;
        top: 8%;
    }
    .fa-cog{
        position: absolute;
        top:8%;
        right: 6%;
        font-size: 20px;
      
        color: lightgreen;
      
    
    }
    .info{
        display: inline;
        position: absolute;
        top: 55%;
        left: 10%;
        font-size: 16px;
    }
  

    #conteudo .lista{
        position: relative;
        margin-top: 120px;
    }

    #container-graphic{
        width: 500px;
        position: relative;
        margin-top: 15%;
       right: 3px;
        
    }




}